fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
pytest
httpx
boto3
python-dotenv
pydantic-settings
email-validator
beautifulsoup4
httpx
lxml
pytest-asyncio
